body {
	font-size:16px;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	background: #EEE;
	margin:0px;
	padding:0px;
}

#container {
	margin:auto;
	padding:5px;
	width:600px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: medium;
	word-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	color:#333;
}

#header {
	width:100%;
	height:50px;
	padding-top:100px;
	background-color:#111;
	color: #666;
	font-size: 160%;
	font-weight:bold;
	text-align:center;
}

#about {
	border-bottom: 1px solid #CCC;
	width:100%;
	padding-top:10px;
	color:#666;
	font-size: 110%;
	text-align:center;

}

#download {
	padding:10px;
}
	
#download a {
	background: #eaeaea;
	display:inline-block;
	border:1px solid #CCC;
	border-radius:5px;
	line-height:35px;
	margin:5px;
	padding-left:15px;
	padding-right:15px;
	color:#333;
	font-size:90%;
	text-align:center;
	text-decoration:none;
	background: -moz-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%);
	background: -webkit-linear-gradient(top, #eaeaea 0%,#d6d6d6 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%,#d6d6d6 100%);
	background: linear-gradient(to bottom, #eaeaea 0%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6',GradientType=0 );
}

#download a:hover {
	border:1px solid #AAA;
}

#download a:active {
	background: #d6d6d6;
	background: -moz-linear-gradient(top, #d6d6d6 0%, #c1c1c1 77%);
	background: -webkit-linear-gradient(top, #d6d6d6 0%,#c1c1c1 77%);
	background: -ms-linear-gradient(top, #d6d6d6 0%,#c1c1c1 77%);
	background: linear-gradient(to bottom, #d6d6d6 0%,#c1c1c1 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c1c1c1',GradientType=0 );
}

.button {
	background: #eaeaea;
	display:inline-block;
	border:1px solid #CCC;
	border-radius:5px;
	line-height:35px;
	margin:5px;
	padding-left:15px;
	padding-right:15px;
	color:#333;
	font-size:90%;
	text-align:center;
	text-decoration:none;
	background: -moz-linear-gradient(top, #eaeaea 0%, #d6d6d6 100%);
	background: -webkit-linear-gradient(top, #eaeaea 0%,#d6d6d6 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%,#d6d6d6 100%);
	background: linear-gradient(to bottom, #eaeaea 0%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6',GradientType=0 );
}

.button:hover {
	border:1px solid #AAA;
}

.button:active {
	background: #d6d6d6;
	background: -moz-linear-gradient(top, #d6d6d6 0%, #c1c1c1 77%);
	background: -webkit-linear-gradient(top, #d6d6d6 0%,#c1c1c1 77%);
	background: -ms-linear-gradient(top, #d6d6d6 0%,#c1c1c1 77%);
	background: linear-gradient(to bottom, #d6d6d6 0%,#c1c1c1 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c1c1c1',GradientType=0 );
}

img {
	width:100%;
	height:auto;
}

p {
	text-align: left;
	padding:5px;
}

li {
	margin-left:20px;
	list-style-type:square;
	color:#333;
}

blockquote {
	padding: 20px;
	font-size: 120%;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	color:#333;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	border-left:5px solid #CCC;
	padding:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#FFF;
}

code {
	display: block;
}

h1 {padding-left:15px; border-left: 5px solid #CCC;}
h2 {padding-left:15px; border-left: 5px solid #CCC;}
h3 {padding-left:15px; border-left: 5px solid #CCC;}
h4 {padding-left:15px; border-left: 5px solid #CCC;}
h5 {padding-left:15px; border-left: 5px solid #CCC;}
h5 {padding-left:15px; border-left: 5px solid #CCC;}
h6 {padding-left:15px; border-left: 5px solid #CCC;}

@media all and (max-width: 599px) and (min-width: 0px) {
	#container {
		width:auto;
	}
	
	#header {
		width:100%;
		height:50px;
		padding-top:40px;
		background-color:#111;
		color: #666;
		font-size: 130%;
	}
}
